.container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  gap: 10px 15px;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px 30px;
  padding: 30px;
}

.create {
  display: flex;
  justify-content: flex-end;
}

.btn-outline-all {
  border-color: black;
  color: black;
}

.btn-outline-cats {
  border-color: orange;
  color: orange;
}

.btn-outline-dogs {
  border-color: blue;
  color: blue;
}

.btn-outline-dinos {
  border-color: green;
  color: green;
}

.btn-create {
  background: black;
  color: white;
}
